

/* .main{
    background-color: #4ee0e6;
} */

.btn-sec{
    width: 250px;
    height: 150px;
    display: flex;
}

.btn1{
    width: 100px;
    height: 50px;
    background-color: aquamarine;
    padding: 10px;
}
.btn2{
    width: 100px;
    height: 50px;
    background-color: #f72a3e;
    padding: 10px;
    margin-left: 20px;
}
.btn3{
    width: 100px;
    height: 50px;
    background-color: aquamarine;
    margin-left: auto;
}